@using AVA.UI.Features.Vault.ViewModels

<div class="vault-notes-layout">
    <div class="vault-notes-layout__list">
        <VaultSearchPane />
    </div>
    <div class="vault-notes-layout__editor">
        <VaultNoteEditor />
    </div>
</div>

<style>
    .vault-notes-layout {
        display: flex;
        height: 100%;
        overflow: hidden;
    }

    .vault-notes-layout__list {
        width: 300px;
        min-width: 220px;
        max-width: 400px;
        border-right: 1px solid var(--Border);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex-shrink: 0;
    }

    .vault-notes-layout__editor {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
</style>
